src/Unit_TextEditor/UnitTextEditor.vcproj
debug/
kamicmd.ncb
kamicmd.sln
kamicmd.suo
src/FS_Qt/Debug/
src/FS_Qt/FS_Qt.vcproj
src/FS_Qt/FS_Qt.vcproj.FINOMEN-HP.finomen.user
src/FS_Qt/vc90.idb
src/FS_Qt/vc90.pdb
src/FS_Windows/Debug/
src/FS_Windows/FS_Windows.vcproj
src/FS_Windows/FS_Windows.vcproj.FINOMEN-HP.finomen.user
src/FS_Windows/vc90.idb
src/FS_Windows/vc90.pdb
src/FileCopy/FileCopy_Widget/Debug/
src/FileCopy/FileCopy_Widget/FileCopy_Widget.vcproj
src/FileCopy/FileCopy_Widget/FileCopy_Widget.vcproj.FINOMEN-HP.finomen.user
src/FileCopy/FileCopy_Widget/vc90.idb
src/FileCopy/FileCopy_Widget/vc90.pdb
src/FileCopy/FileCopy_Windows/Debug/
src/FileCopy/FileCopy_Windows/FileCopy_Windows.vcproj
src/FileCopy/FileCopy_Windows/FileCopy_Windows.vcproj.FINOMEN-HP.finomen.user
src/FileCopy/FileCopy_Windows/vc90.idb
src/FileCopy/FileCopy_Windows/vc90.pdb
src/KamiCmd/GeneratedFiles/
src/KamiCmd/KamiCmd.vcproj
src/KamiCmd/KamiCmd.vcproj.FINOMEN-HP.finomen.user
src/KamiCmd/debug/
src/KamiCmd/vc90.idb
src/KamiCmd/vc90.pdb
src/Operations_Queue/Debug/
src/Operations_Queue/Operations_Queue.vcproj
src/Operations_Queue/Operations_Queue.vcproj.FINOMEN-HP.finomen.user
src/Operations_Queue/vc90.idb
src/Operations_Queue/vc90.pdb
src/Panel_Classic/Debug/
src/Panel_Classic/Panel_Classic.vcproj
src/Panel_Classic/Panel_Classic.vcproj.FINOMEN-HP.finomen.user
src/Panel_Classic/vc90.idb
src/Panel_Classic/vc90.pdb
src/UnitManager_Tabs/Debug/
src/UnitManager_Tabs/UnitManager_Tabs.vcproj
src/UnitManager_Tabs/UnitManager_Tabs.vcproj.FINOMEN-HP.finomen.user
src/UnitManager_Tabs/vc90.idb
src/UnitManager_Tabs/vc90.pdb
src/Unit_Console/Debug/
src/Unit_Console/Unit_Console.vcproj
src/Unit_Console/Unit_Console.vcproj.FINOMEN-HP.finomen.user
src/Unit_Console/vc90.idb
src/Unit_Console/vc90.pdb
src/Unit_PictureView/Debug/
src/Unit_PictureView/Unit_PictureView.vcproj
src/Unit_PictureView/Unit_PictureView.vcproj.FINOMEN-HP.finomen.user
src/Unit_PictureView/vc90.idb
src/Unit_PictureView/vc90.pdb
src/Unit_TextEditor/Unit_TextEditor.vcproj
src/Unit_WebKit/Debug/
src/Unit_WebKit/Unit_WebKit.vcproj
src/Unit_WebKit/Unit_WebKit.vcproj.FINOMEN-HP.finomen.user
src/Unit_WebKit/vc90.idb
src/Unit_WebKit/vc90.pdb
src/src.sln
src/FileCopy/FileCopy_Widget/ui_CopyWidget.h
src/Operations_Queue/ui_oqwidget.h
src/UnitManager_Tabs/ui_ActionsDialog.h
src/UnitManager_Tabs/ui_AssociationsDialog.h
src/UnitManager_Tabs/ui_AssociationsDialog_Edit.h
src/UnitManager_Tabs/ui_ModulesDialog.h
src/Unit_TextEditor/Unit_TextEditor.vcproj.FINOMEN-HP.finomen.user
src/Unit_TextEditor/vc90.idb
src/Unit_TextEditor/vc90.pdb
qscintilla2.dll
3rdparty/3rdparty.sln
3rdparty/QScintilla/QScintilla.sln
3rdparty/QScintilla/QScintilla2/qscintilla2.vcproj
3rdparty/QScintilla/QScintilla2/qscintilla2.vcproj.FINOMEN-HP.finomen.user
3rdparty/QScintilla/QScintilla2/vc90.idb
3rdparty/QScintilla/QScintilla2/vc90.pdb
src/Unit_Lexers/Unit_Lexers.vcproj
src/Unit_Lexers/Unit_Lexers.vcproj.FINOMEN-HP.finomen.user
src/Unit_Lexers/vc90.idb
src/Unit_Lexers/vc90.pdb
src/Lib_Lexers/Lib_Lexers.vcproj
src/Lib_Lexers/Lib_Lexers.vcproj.FINOMEN-HP.finomen.user
src/Lib_Lexers/vc90.idb
src/Lib_Lexers/vc90.pdb
src/Unit_Lexers.vcproj
src/Unit_TextEditor/ui_LexerSettings.h
src/Unit_TextEditor/ui_SettingsDialog.h
src/Unit_TextEditor/ui_EditorSettings.h
src/Unit_TextEditor/ui_LexersDialog.h
