#syntax: glob
.project
.cproject
build/*
dist/*
doc/*
moc_*.cpp
ui_*.h
qrc_*.cpp
*.user
*.vcxproj.ampl.cfg
*.tlog
*.exp
*.pdb
*.ilk
*.obj
*.dep
*.CppClean.log
*.manifest
*.lastbuildstate
*.ncb
*.sdf
*.suo
*.opensdf
BuildLog.htm
*.log
*.ipch
Makefile
*.vcxproj
*.vcproj
*.sln
*.filters
*.unsuccessfulbuild
*.idb
*.res
Qt4VSPropertySheet.props
My Amplifier Results/*
UpgradeLog.XML
*.idc
*.old
*.ampl.cfg
*.o
*.exe
*.dll
*.lib
*.orig
*.xml
*Amplifier*
* Inspector*
KamiCmd.ini
